body{
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	background: linear-gradient(to bottom, #FFF 40px, #F0F0FF 80px, #F0F0FF 100%);
	background-repeat: no-repeat;
}

.content{
	flex-grow: 1;
	flex-shrink: 1;
}

.content-header{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 80px;
}

.header-menu{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 15px;
	margin-right: 20px;  
}

.header-menu-element{
	font-size: 14px;
	margin-left: 5px; 
	text-decoration: none;
}

.header-menu-element:hover{
	text-decoration: underline;
}

.article{
	background-color: #FFF;
	display: block;
	padding: 20px;
	border: 1px solid blue;
}

.article p{
	display: block;
}

h1, h2, h3, h4, h5, h6{
	display: block;
}

.article-header{
	display: block;
	margin-right: 200px; 
	border-bottom: 1px solid grey;
}

.side-menu{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 20px;
	min-width: 180px;
	height: 100%;
	margin: 0;
	margin-bottom: 20px;: 
}

.logo{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.side-menu-element{
	font-size: 14px;
	text-decoration: none;
	margin-bottom: 5px;
}

.side-menu-element:hover{
	text-decoration: underline;
}

.side-menu-heading{
	border-bottom: 1px solid grey;
	margin-bottom: 5px;
}

.info{
	display: block;
	float: right;
	border: 1px solid grey;
}

@media (max-width: 640px){
	body{
		display: inline;
	}
}

body{
	margin: 0;
}